.heading {
  font-size: 30px;

  text-align: center;
  padding: 10px;
}
body {
  background-color: wheat;
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1000px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
.oneBook {
  background-color: aquamarine;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid royalblue;
  border-radius: 5px;
  text-align: center;
}
.btn {
  display: block;
  margin: 10px 0px;
  padding: 10px;
  width: 150px;
  border: none;
  background-color: rgb(161, 161, 4);
  color: aliceblue;
  border-radius: 5px;
}
.questions {
  padding: 10px;

  margin: 10px;
  border: 1px solid rgb(161, 161, 4);
  border-radius: 5px;
}
